html,body,#sketch_three_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
  }
  
  #css3dRenderer,
  #css2dRenderer{
    position: absolute;
    pointer-events: none;
    margin: 0;
    padding: 0;
    outline: 0;
    top: 0;
  }
